.LeftContents{ //左カラム
  width:300px;
  height:100vh;
  float:left;
  &__Top{
    background-color: #253141;
    height:15%;
    width:100%;
  }
    &__Awesome{ //アイコンフォント
      line-height: 100px;
      float:right;
      padding-right: 20px;
      &--Pencil{
        padding-right: 5px;
      }
      &--Gear{
        margin-right: 10px;
      }
    }
      &__Username{
      font-size:16px;
      font-style:bold;
      color: $nameColor;
      line-height: 100px;
      width:100%;
      margin:0 0 0 20px;
  }
  &__Bottom{
    background-color:#2f3e51;
    height: 85%;
    color: $nameColor;
    padding-left:20px;
    overflow-y: scroll;
      &--groupname{
        display: block;
        padding:20px 0;
      }
      &--topthread{
      display:block;
      padding-top:20px;
      font-size:15px;
      }
      &--lated{
        display:block;
        padding-top:5px;
        font-size:11px;
      }
      &--thread{
        display:block;
        padding-top: 40px;
        font-size:15px;
      }
    }
  }

.RightContents{ //右カラム
  height: calc(100vh - 35px);
  width: calc(100vw - 300px);
  float:right;
  &__Top{
    height:15%;
    background-color: white;
    border-bottom: 3px solid;
    border-color: #eeeeee;
    &--Edit--Self{
      color:$mainBlueColor;
      float:right;
      border:2px solid;
      font-size:14px;
      padding:10px 20px;
      margin:28px 40px 0 0;
    }
    &--word1{
     display:block;
     padding-left:40px;
     padding-top:35px;
     font-size: 20px;
     color:#333333;
    }
    &--word2{
     display:block;
     padding-left:40px;
     font-size:12px;
     color:$subTextColor;
     padding-top:15px;
    }
  }
  &__Bottom{
    height: calc(85% - 90px);
    background-color: #F5F5F5;
    overflow-y: scroll;
    &--word{margin-left: 30px;
            padding-top: 50px;

      &--name{
        display:inline-block;
        font-style: bold;

      }
      &--time{
        display:inline-block;
      }
      &--text{
        margin-top:20px;
        display:block;
      }
      &--pic{
      display:block;
      margin-top:10px;
      }
    }
    &--Mbox{
      background-color: lightgray;
      height: 80px;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 40px;
      float: left;
      &--inputword{
        background-color: white;
        color: #434a54;
        font-size: 16px;
        padding: 13px 0 13px 10px;
        width: 927px;
        float: left;
      }
      &--Send{
        background-color: #38aef0;
        color: white;
        height: 30px;
        width: 50px;
        padding: 12px 59px 35px 15px;
        margin: 20px 40px 0 15px;
        float: right;
    }
    &--Awesome{
      background-color: white;
      padding:15px 10px 0 0;
      margin-top: 20px;
      height: 35px;
      float: right;
      display: none;
      }
    }
  }
}

.fa{ // フォントアイコンの色指定
color: #FFF;
    &.fa-picture-o{
      padding-top: 10px;
      color:black;
      float:right;
      line-height:75px;
  }
}
a:link{color:white;
text-decoration:none;
}
a:visited{color:white;
text-decoration:none;
}

#message_body{
  border:none;
  margin-top:10px;
  float:left;
  display:block;
  margin-left:10px;
  outline:0;
}
.flash__notice{
  background-color: $mainBlueColor;
  height:40px;
  position:relative;
}
.sentence{
  position: absolute;
  top:10px;
  left:560px;
}
